{% extends 'base.html.twig' %}

{% block title %}Genshin Impact Inscription :3{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/style_actus.css') }}" type="text/css"/>
{% endblock %}

{% block body %}

    <section class="articles">

            <article>
                <h2>{{ article.title }}</h2>
                <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}</div>
                <div class="content">
                    <img src= "{{ article.image }}" alt="">
                    {{ article.content | raw}}
                    <button>
                        <a href = "{{ url('Actualités', {'id': article.id}) }}">Lire la suite</a>
                    </button>
                </div>
            </article>

    </section>

{% endblock %}