{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/style_inscription.css') }}" type="text/css"/>
{% endblock %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Send') }}</button>
{{ form_end(form) }}
