{% extends 'base.html.twig' %}

{% block title %}Actualités index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/style_actus.css') }}" type="text/css"/>
{% endblock %}

{% block javascripts %}
    <link rel="javascript" href="{{ asset('javascript/script.js') }}" type="text/js"/>
{% endblock %}

{% block body %}
    <h1>Actualites index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actualite in actualites %}
            <tr>
                <td>{{ actualite.title }}</td>
                <td>{{ actualite.content | raw}}</td>
                <td>{{ actualite.createdAt ? actualite.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('actualites_show', {'id': actualite.id}) }}">show</a>
                    {%if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('actualites_edit', {'id': actualite.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {%if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('actualites_new') }}">Ajouter Actualité</a>
    {% endif %}
{% endblock %}
